body{
  background-color: rgb(209, 204, 204);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    font: normal 100% Arial, verdana, serif;

}
img {
    text-align:center ;
    width:70%;
    margin-top: 20px;
}
img, p {
    margin: 20px;
  font-size:100%;
  text-align: center;
}
main { 
       padding: 15px;
    border-radius: 10px;
    min-width: 400px;
    max-width: 900px;
    margin:auto ;
    

}
p {
    text-align:unset;
}
.vitad, .vitab1, .vitak2, .vitae, .vitac, .texto {
    margin: 40px;
}
h2 {
    color:black;
    text-align: center;
}
*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 50px;
   
}
h1 {
    
    font-size: 28px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    
}
.logo-texto { color: white;
background-color: rgb(19, 18, 18);
padding: 6px;
border-radius: 10px;
max-width: 1500px;
min-width: 320px;

   
}
.logo-texto, .texto {
    margin: 25px;
    text-align: center;
}
h3 {
    margin: 20px;
}
.url {
    text-align: justify;
}
.url{
    width: auto;
}
 
    

